# Django settings
DJANGO_SETTINGS_MODULE=
DJANGO_DEVELOPMENT=
### Fill in your secret key below
SECRET_KEY=
DEBUG=
DJANGO_ALLOWED_HOSTS=
TIME_ZONE=
LANGUAGE_CODE=

# Django admins
ADMINS=


# Django DB (postgres) settings
SQL_ENGINE=
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SQL_HOST=
SQL_PORT=

GOOGLE_API_KEY=

# Email settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=

ENCRYPTED_ENDPOINT=

# Gunicorn
# ------------------------------------------------------------------------------
WEB_CONCURRENCY=

STRIPE_TEST_PUBLIC_KEY=
STRIPE_TEST_SECRET_KEY=
DJSTRIPE_WEBHOOK_SECRET=
DOMAIN_NAME=http://localhost:3000
BACKEND_URL=http://localhost:8000/api
